    <footer style="background-color: rgba(0, 0, 0, 0.5);margin-top: 40px;">
        <div class="text-center p-3">
            <img src="{{ '/img/aogrey.png' | relative_url }}" height="100px" alt="AO Logo Greyscale">
            <br/>
            © {{ site.time | date: "%Y" }} Attorney Online Team | Website donated by Rue
            <br/>
            This website is not endorsed by Capcom or Chunsoft; this is a fanmade game. All content and trademarks are property of their respective owners.
        </div>
    </footer>
