<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="logo" alt="Phoenix Wright and Miles Edgeworth" src="{{ '/img/logo.png' | relative_url }}" height="55">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{ '/index/' | relative_url }}">HOME </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ '/download/' | relative_url }}">DOWNLOAD </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ '/support/' | relative_url }}">SUPPORT & FAQ </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ site.posts.first.url | relative_url }}">BLOG</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ '/rules/' | relative_url }}">SERVER LISTING RULES</a>
            </li>
        </ul>
    </div>
    <a href="http://web.aceattorneyonline.com" class="btn btn-lg active">PLAY ONLINE</a>
    <a href="{{ '/download/' | relative_url }}" class="btn btn-lg active dl" role="button" aria-pressed="true">Download Now</a>
</nav>