    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="logo" alt="Phoenix Wright and Miles Edgeworth" src="{{ '/img/logo.png' | relative_url }}" height="55">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ '/' | relative_url }}">HOME </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ '/download.html' | relative_url }}">DOWNLOAD </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ '/support.html' | relative_url }}">SUPPORT & FAQ </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ '/blog/' | relative_url }}">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/wWvQ3pw">DISCORD </a>
              </li>
            </ul>
        </div>
        <a href="http://web.aceattorneyonline.com" class="btn btn-lg active">PLAY ONLINE</a>
        <a href="{{ '/download.html' | relative_url }}#first" class="btn btn-lg active dl" role="button" aria-pressed="true">Download Now</a>
    </nav>
